img {
  width: 20px;
  height: 20px;
}

.refresh-view {
  display: flex;
  margin-left: 15%;
  margin-top: 50px;
}

.refresh-details {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  margin-left: 35%;
}
