.refund-view {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
img {
  height: 14px;
  width: 14px;
  margin-left: 6px;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.chart-container {
  display: flex;
}

.bar {
  width: 530px;
  height: 367px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  margin-right: 40px;
}

.line {
  width: 530px;
  height: 367px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

section {
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-view {
  width: 78%;
}
