img {
  width: 20px;
  height: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

p {
  font-size: 13px;
  margin: 0;
}

.outerHeaderContainer {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.refresh-view {
  display: flex;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 25px;
}

.refresh-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.healthHeader {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0;
}

select {
  height: 36px;
  width: 100%;
  border-radius: 2px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.dropdown-menu-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-left: 0;
}
