img {
  width: 20px;
  height: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

p {
  font-size: 13px;
  margin: 0;
}

.outerHeaderContainer {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.refresh-view {
  display: flex;
  margin-top: 50px;
  width: 75%;
  margin-bottom: 12px;
}

.refresh-details {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

.healthHeader {
  font-size: 28px;
  margin-right: 480px;
}

select {
  height: 36px;
  width: 225px;
  border-radius: 2px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-menu-container {
  display: flex;
  width: 75%;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-right: 60px;
}
