<div class="header">
   <div class="container outerHeaderContainer">
		<div class="row refresh-view">
			<h1  class="col-sm-8 col-12 healthHeader">Health Dashboard</h1>
			<div class="col-sm-4 col-12 refresh-details">
				<p>Next refresh: 115s</p>
				<img src="../../assets/refresh-icon.png" alt="refresh icon"/>
				<img src= "../../assets//pause-icon.svg" alt="pause icon"/>
			        <p>Last refresh: 5 mins. ago</p>
			</div>
			</div>
		<div class="row dropdown-menu-container">
			<label class="col-sm-3 col-6" > Filter By Client:
				<select  ng-options="v.name for v in variants | filter:{type:2}" ng-change="calculateServicesSubTotal(item)"
				ng-model="item.selectedVariant" ng-show="item.id==8" name="posterVariants"
				ng-required="item.id==8 && item.quantity > 0" class="ng-pristine ng-valid ng-valid-required">
				    <option value="?" selected="selected"></option>
				    <option value="0">Amazon</option>
				    <option value="1">1</option>
				</select>
			</label>
	
			<label class="col-sm-3 col-6" > Filter By Area:
				<select  ng-options="v.name for v in variants | filter:{type:2}" ng-change="calculateServicesSubTotal(item)"
				ng-model="item.selectedVariant" ng-show="item.id==8" name="posterVariants"
				ng-required="item.id==8 && item.quantity > 0" class="ng-pristine ng-valid ng-valid-required">
				    <option value="?" selected="selected"></option>
				    <option value="0">All</option>
				    <option value="1">1</option>
				</select>
			</label>
		
	
			<label class="col-sm-3 col-6"> Start Date:
				<select ng-options="v.name for v in variants | filter:{type:2}" ng-change="calculateServicesSubTotal(item)"
				ng-model="item.selectedVariant" ng-show="item.id==8" name="posterVariants"
				ng-required="item.id==8 && item.quantity > 0" class="ng-pristine ng-valid ng-valid-required">
				    <option value="?" selected="selected"></option>
				    <option value="0">11/20/2019 12:12 PM</option>
				    <option value="1">1</option>
				</select>
			</label>
	
			<label class="col-sm-3 col-6" > End Date:
				<select  ng-options="v.name for v in variants | filter:{type:2}" ng-change="calculateServicesSubTotal(item)"
				ng-model="item.selectedVariant" ng-show="item.id==8" name="posterVariants"
				ng-required="item.id==8 && item.quantity > 0" class="ng-pristine ng-valid ng-valid-required">
				    <option value="?" selected="selected"></option>
				    <option value="0">11/21/2019 12:12 AM</option>
				    <option value="1">1</option>
				</select>
			</label>
	</div>
   </div>
</div>