<div class="container-fluid">
	<nav class="row">
		<div class="col-12 col-sm-2 logo">
			<img  src="../../assets//datatonic-logo-03.svg" alt="data tonic logo"/>
		</div>
		<a href="#" class="col-12 col-sm-2" style="font-weight:bold">Health Dashboard</a>
		<a href="#" class="col-12 col-sm-1">Live Score</a>
		<a href="#" class="col-12 col-sm-1">Statistics</a>
		<a href="#" class="col-12 col-sm-1">Analytics</a>
		<a href="#" class="col-12 col-sm-1">Forecasts</a>
		<a href="#" class="col-12 col-sm user">John Doe</a>
	</nav>
</div>