nav {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #3274b5 0%, #27519d 100%);
  height: 65px;
  align-items: center;
  justify-content: center;
  width: 1440px;
}

img {
  height: 37px;
  width: 121px;
  margin-right: 25px;
}

h1 {
  font-size: 16px;
  color: white;
}

a,
p {
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.user-logged-in {
  margin-left: 10%;
}

.nav-options {
  display: flex;
  border-left: 1px solid #ffffff;
  height: 75%;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

section {
  display: flex;
  justify-content: center;
}
